.profile {
  display: grid;
  gap: 0.5em;

  header {
    display: grid;
    justify-content: flex-start;
    padding-left: 1em;
    gap: 0.75em;

    img {
      border-radius: 50%;
    }

    h1 {
      font-size: 2em;
      text-align: center;
    }

    .follow {
      display: flex;
      justify-content: center;
      margin-top: 0.75em;
      min-height: 2.05em;
    }
  }
}

.content {
  display: grid;
  padding: 0.5em;

  h2 {
    font-size: 1.4em;
  }

  hr {
    margin-top: 0.5em;
  }
}

.posts,
.users {
  display: grid;

  li {
    box-shadow: 0 3px 2px -2px var(--box-shadow-color);

    &:last-child {
      box-shadow: none;
    }
  }
}

.posts {
  li {
    padding-block: 0.5em;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1em;
  gap: 0.4em;
  padding: 0.5em 1em;

  a:any-link {
    color: var(--text);
    font-weight: 500;
  }
}

.empty {
  text-align: center;
  margin: 1em;
}

@media (width > 450px) {
  .profile header {
    align-items: center;
    grid-auto-flow: column;
    gap: 1.5em;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
