.container {
  display: grid;
  gap: 0.5em;

  :any-link {
    color: var(--text);
    text-decoration: none;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.content {
  padding: 0.5em;
  transition: background-color 0.25s ease-in-out;
  border-radius: 6px;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: hsla(from var(--primary) h s l / 0.1);
  }

  strong {
    font-size: 1.1em;
  }

  p {
    font-size: 0.96em;
    display: -webkit-box;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  img {
    max-width: 100%;
    object-fit: contain;
    margin-block: 0.75em;
  }
}

.buttons {
  display: flex;

  button {
    background-color: transparent;

    svg {
      fill: transparent;
      transition: fill 0.25s ease-in-out;
    }

    &:not(.liked) {
      &:hover,
      &:focus-visible,
      &:active,
      &:disabled {
        svg {
          fill: hsla(from var(--primary) h s l / 0.7);
        }
      }
    }
  }

  a {
    margin-left: 1.2em;
  }

  & > * > span {
    font-size: 0.9em;
  }
}

button.liked svg {
  fill: var(--primary);
}
