.container ul {
  display: grid;

  li {
    border-bottom: var(--border);

    &:last-child {
      border-bottom: none;
    }
  }

  :any-link {
    color: var(--text);
    text-decoration: none;
  }

  a {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px 1em;
    padding: 0.5em;
    transition: background-color 0.25s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: hsla(from var(--secondary) h s l / 0.2);
    }

    time {
      font-size: 0.8em;
      font-style: oblique;
      grid-column: span 2;
      margin-left: auto;
    }
  }

  time,
  img,
  p {
    align-self: center;
  }

  img {
    border-radius: 50%;
  }

  p {
    text-align: justify;
    padding-inline: 0.5em;
  }
}

.empty {
  text-align: center;
  margin: 1em;
}
