.container ul {
  display: grid;
  gap: 0.25em;

  li {
    padding-block: 0.6em;
    border-bottom: var(--border);

    &:last-child {
      border-bottom: none;
    }
  }
}

.empty {
  text-align: center;
  font-size: 0.9em;
  font-style: oblique;
}
