.container ul {
  display: grid;
  gap: 0.25em;

  li {
    padding-block: 0.6em;
    box-shadow: 0 3px 2px -2px var(--box-shadow-color);

    &:last-child {
      box-shadow: none;
    }
  }
}

.empty {
  text-align: center;
  font-size: 0.9em;
  font-style: oblique;
}
