.container {
  min-height: calc(100vh - 72px);

  ul {
    --border: 2px solid hsla(from var(--secondary) h s l / 0.5);

    display: grid;
    gap: 0.25em;
    border-inline: var(--border);

    li {
      padding: 0.6em;
      border-bottom: var(--border);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.empty {
  text-align: center;
  font-size: 0.9em;
  font-style: oblique;
}

@media (width < 575px) {
  .container ul {
    border-inline-color: transparent;
  }
}
