.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  & h1 {
    margin-block: 1em;
    font-size: 2.5em;
    text-wrap: balance;
  }
}

.errorContent {
  display: grid;
  gap: 1em;
  font-weight: 500;
  font-size: 1.2em;

  & p:first-child {
    color: hsla(0, 0%, 20%, 0.9);
  }

  & :any-link {
    color: hsl(212, 90%, 41%);
    text-decoration: underline;
  }
}
