:root {
  --text: hsl(244, 55%, 6%);
  --background: hsl(0, 0%, 99%);
  --primary: hsl(240, 6%, 10%);
  --secondary: hsl(240, 5%, 34%);
  --accent: hsl(0, 84%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin-block: auto;
  min-width: 100%;
  display: flex;
  place-items: center;
  flex-direction: column;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
  font-family: system-ui, sans-serif;

  background-color: var(--background);
  color: var(--text);
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.lucide {
  width: 32px;
  height: 32px;
  color: var(--primary);
}

li {
  list-style: none;
}
