.container {
  > form,
  > ul {
    padding: 0.6em;
  }

  ul {
    display: grid;

    li {
      box-shadow: 0 3px 2px -2px var(--box-shadow-color);

      &:last-child {
        box-shadow: none;
      }
    }
  }
}

.empty {
  text-align: center;
  margin: 1em;
}
