.container {
  > form,
  > ul {
    padding: 0.6em;
  }

  ul {
    display: grid;

    li {
      border-bottom: var(--border);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.empty {
  text-align: center;
  margin: 1em;
}
